*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: "poppins", sans-serif;
    overflow-x: hidden;
}


.logo{
    font-family: "Kaushan script", sans-serif;
    font-weight: bolder;
}
main{
    width: 100%;
    height: 100%;
    position: inherit;
    overflow: hidden;
    background-attachment: fixed;
}::-webkit-scrollbar{
    background: linear-gradient( red,pink,rgb(224, 69, 8));
    width: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: black;
    width: 5px;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.content .image{
    height: 60%;
    width: 60%;
    margin-top: 100px;
    object-fit: contain;


}
.yellow{
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 40%;
    background-color: orange;
    z-index: -1;
}
.black{
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    right:0;
    width: 60%;
    background-color: black;
    z-index:-1;

}

img{
    height: 400px;
    rotate: 0deg;
    position: absolute;
    right: 19%;
    top: 190px;
}
.title{
    position: absolute;
    color: white;
    padding-bottom: 170px;
    text-shadow: 1px 1px 2px rgb(56, 54, 54);
}
.big{
    font-weight: bold;
    font-size: 200px;
    z-index:-1;
    position: relative;
    left: 300px;    
    top: -100px;
    font-family: Geometr415 Blk BT;
}

.small{
    position: absolute;
    font-family:  Freehand521 BT;
    font-size: 50px;
    top: -28%;
    right:26%;
}

.logo{
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 10;
    font-size: 23px;
    color:black;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.social{
    position: absolute;
    bottom: 20px;
    left: 40px;
    z-index: 10;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social .bar{
    width: 1px;
    height: 330px;
    background-color:black;
margin-bottom: 90px;

}
.social a{
        color: white;
        transform: rotate(-90deg);
}
.spaces{
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: orange;
    font-size: 19px;
    display: flex;
    align-items: center;
    width: 100%;
    left:40%;
}
.spaces span{
    margin-left: 60px;
}
.spaces button{
    margin-left: 89px;
    padding: 8px 40px;
    border-radius: 100px;
    border: 1px solid orange;
    background:none;
    font-family: "poppins" , 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 10;
    font-size: 18px;
    color: white;
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 1px solid orange;
}


.main2{
    
        width: 100%;
        height: 100%;
        position: inherit;
        overflow: hidden;
        background-attachment: fixed;
        overflow: hidden;
    
}
.main2 .red{
    background-color: rgb(230, 89, 89);
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 40%;
    z-index: -1;
}
.main2 img{
    position:absolute;
    left: 20%;
    top: 30%;
    background-attachment: fixed;
}

.main2 .title{
        position: relative;
        bottom: -90px;
}


.main2 .spaces{
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: rgb(230, 89, 89);
    font-size: 19px;
    display: flex;
    align-items: center;
    width: 100%;
    left:40%;
} 
.main2 .spaces span{
    margin-left: 60px;
}
.main2 .spaces button{
    margin-left: 89px;
    padding: 8px 40px;
    border-radius: 100px;
    border: 1px solid rgb(230, 89, 89);
    background:none;
    font-family: "poppins" , 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  rgb(230, 89, 89);
    cursor: pointer;
}
.main2  .bar{
    width: 1px;
    height: 430px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 90px;
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translate(-50%,-50%);

}

.main2{
    
        width: 100%;
        height: 100%;
        position: inherit;
        overflow: hidden;
        background-attachment: fixed;
        overflow: hidden;
    
}
.main2 .red{
    background-color: rgb(230, 89, 89);
    position: absolute;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 40%;
    z-index: -1;
}
.main2 img{
    position:absolute;
    left: 20%;
    top: 30%;
    background-attachment: fixed;
}

.main2 .title{
        position: relative;
        bottom: -90px;
}


.main2 .spaces{
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: rgb(230, 89, 89);
    font-size: 19px;
    display: flex;
    align-items: center;
    width: 100%;
    left:40%;
} 
.main2 .spaces span{
    margin-left: 60px;
}
.main2 .spaces button{
    margin-left: 89px;
    padding: 8px 40px;
    border-radius: 100px;
    border: 1px solid rgb(230, 89, 89);
    background:none;
    font-family: "poppins" , 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  rgb(230, 89, 89);
    cursor: pointer;
}
.main2  .bar{
    width: 1px;
    height: 430px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 90px;
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translate(-50%,-50%);

}

.main3{
    
    width: 100%;
    height: 100%;
    position: inherit;
    overflow: hidden;
    background-attachment: fixed;
    overflow: hidden;

}
.main3 .red{
background-color: rgb(230, 210, 34);
position: absolute;
top: 0;
height: 100%;
bottom: 0;
width: 40%;
z-index: -1;
}
.main3 img{
position:absolute;
left: 20%;
top: 30%;
background-attachment: fixed;
}

.main3 .title{
    position: relative;
    bottom: -90px;
}


.main3 .spaces{
position: absolute;
bottom: 40px;
left: 40px;
color: rgb(230, 210, 34);
font-size: 19px;
display: flex;
align-items: center;
width: 100%;
left:40%;
} 
.main3 .spaces span{
margin-left: 60px;
}
.main3 .spaces button{
margin-left: 89px;
padding: 8px 40px;
border-radius: 100px;
border: 1px solid  rgb(230, 210, 34);
background:none;
font-family: "poppins" , 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:   rgb(230, 210, 34);
cursor: pointer;
}
.main3  .bar{
width: 1px;
height: 430px;
background-color:rgb(0, 0, 0);
margin-bottom: 90px;
position: absolute;
top: 35%;
left: 10%;
transform: translate(-50%,-50%);
}




